<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Project 
		  Expert</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.1.1
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">thedevloper123@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 7588392081 ; 9637283704</span></i>
      </div>
    <!---  <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>---!>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Project<span>Expert</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="index.html#about">About</a></li>
          <li><a href="#services">index.html#Services</a></li>
          <li><a href="learnig.html">learnig</a></li>
          <li><a href="Mlproject.html">Projects List</a></li>
          <li><a href="blog.html">Blog</a></li>
         
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->
  <main id="main">

   
       <section id="services" class="services sections-bg">
	   
      <div class="container" data-aos="fade-up">

        <h3> Ml(Machine Learning ) Project</h3>
    <ol>
<li>Stock Prices Predictor</li>
<li>Sports Predictor</li>
<li>Develop A Sentiment Analyzer</li>
<li>Enhance Healthcare</li>
<li>Prepare ML Algorithms – From Scratch!</li>
<li>Develop A Neural Network That Can Read Handwriting</li>
<li>Movie Ticket Pricing System</li>
<li>Iris Flowers Classification ML Project</li>
<li>BigMart Sales Prediction ML Project</li>
<li>Recommendation Engines with MovieLens Dataset</li>
<li>Predicting Wine Quality using Wine Quality Dataset</li>
<li>MNIST Handwritten Digit Classification</li>
<li>Human Activity Recognition using Smartphone Dataset</li>
<li>Object Detection with Deep Learning</li>
<li>Fake News Detection…. and so on..</li>
</ol>

	   <h3> Web project</h3>
	   <ul>
<li>Examination Result Analysis System</li>
<li>Inventory Management System</li>
<li>Library management System</li>
<li>School attendance Management system</li>
<li>Sport event management system</li>
<li>Voting system</li>
<li>NGO management system</li>
<li>Online Charity Management System</li>
<li>Tutor Finder system</li>
<li>Fitness club management system</li>
<li>Salon and spa booking system</li>
<li>Chatbot system</li>
<li>Newspaper delivery management system</li>
<li>Online course system</li>
<li>Food ordering system</li>
<li>E-Visa processing system</li>
<li>Code editor</li>
<li>Resume Builder</li>
<li>To-Do- Web application</li>
<li>WhatsApp web clone</li>
<li>Weather Forecasting</li>
<li>Slack clone</li>
<li>YouTube Transcript system</li>
<li>Portfolio application</li>
<li>Employee management system</li>
<li>Railway tracking system</li>
</ul>
	   
	   
	   

                </div>
				
				
				
		</section>			
	
	<!--Section: Contact v.2-->
<section class="mb-4" style="background: azure;padding: 65px;">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
						<label for="name" class="">Your name</label>
                            <input type="text" id="name" name="name" class="form-control">
                            
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
						 <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" class="form-control">
                           
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
						 <label for="subject" class="">Mobile</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                           
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
						<label for="message">Your message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Only whatsapp</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+91 7588392081</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>thedevloper123@gmail</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
    </section>

<!--Section: Contact v.2-->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>